main{
  display: grid;
    background-color: rgb(167, 178, 208);
    padding: 1%;
/* THIS measurement would be good for SingleProduct component CSS
    padding: 20%;
 */
}

.login{
  text-align: center;
  padding: 0;
  border: 2px solid silver;
  display: grid;
  margin-top: 2%;

}
.login-button{
  margin-top: 2%;
  padding-left: 0%;
  width: 10%;
  height: 30px;
/* NOT SURE how to center  login button

  display: grid;
  place-items: center;
  justify-content: center;
  align-items:  center;
*/
}
.card >ul{
  text-align: center;
  padding: 0;
  border: 2px solid silver;

 }

 .card{
  padding: 0;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
 }
 
.nav{
  background-color: rgb(209, 103, 103);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: larger;
}

.nav ul{
  padding:0%;
  margin: 0%;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
}

.nav li:hover {
  background-color: rgb(167, 178, 208);
}
/* body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  color: rgb(12, 14, 14);
  background-color: rgb(88, 88, 211);
}
/* .item { 
  border: 1px solid rgb(16, 11, 11);
  margin: 2%;
  padding: 10%;
  align-items: center;
}   */