main{
  display: grid;
    background-color: rgb(167, 178, 208);
    padding: 1%;
/* THIS measurement would be good for SingleProduct component CSS
    padding: 20%;
 */
}

 .card >ul{
  text-align: center;
  padding: 0;
  border: 2px solid silver;

 }

 .card{
  padding: 0;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
 }
 

/* body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  color: rgb(12, 14, 14);
  background-color: rgb(88, 88, 211);
}
.item { 
  border: 1px solid rgb(16, 11, 11);
  margin: 2%;
  padding: 10%;
  align-items: center;
}  */